<section id="about" class="section section--header d-flex align-items-center">
    <div class="section__squares"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h1 class="page-title">
                    Blockchain solutions for One Belt & One Road Project Member Countries
                </h1>
                <div class="d-block d-md-none my-2 mx-5">
                    <img src="{{ site.imageurl }}/headerimg.png?{{site.time | date: '%s%N'}}"
                         alt="A deventralized marketplace for open source collaboration">
                </div>
                <div class="description description--header">
                    <p>
                        OBORCHAIN introduces an easy and secure way to reward bugfixes and feature builds on any project.
                    </p>
                    <p>
                        OBORCHAIN is a system for custom support that will boost the
                        Open Source community as a whole – from developer to end user.
                    </p>
                </div>
                <h2 class="page-sub-title">Novice or expert? Start working on blockchain projects and be rewarded.</h2>
                <a class="btn btn-lg btn-warning btn-raised" href="https://profile.fundrequest.io">
                    Sign up here
                </a>
            </div>
            <div class="col-12 col-md-4 offset-md-1 d-none d-md-flex justify-content-center align-items-center">
                <img class="align-middle" src="{{ site.imageurl }}/headerimg.png?{{site.time | date: '%s%N'}}"
                     alt="A deventralized marketplace for open source collaboration">
            </div>
        </div>
    </div>
    <a class="scrolltonext scrolltonext--header" data-scroll-to="next" href="#"></a>
    <div class="triangle triangle--bottom"></div>
</section>
