<section class="section section--big-footer section--compact section--blue">
    <div class="container text-center text-md-left">
        <div class="row mb-2">
            <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                <h2 class="footer__title">Company</h2>
                <ul class="footer__list">
                    <li><a class="footer__link" href="#about">About</a></li>
                    <li><a class="footer__link" href="#roadmap">Roadmap</a></li>
                    <li><a class="footer__link" href="#team">Team</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                <h2 class="footer__title">Resources</h2>
                <ul class="footer__list">
                    <li><a class="footer__link" target="_blank"
                           href="https://oborchain.github.io/whitepaper.pdf">Whitepaper</a></li>
                    <li><a class="footer__link" href="https://docs.oborchain.org/display/PUB/">Documentation</a></li>
                    <li><a class="footer__link" target="_blank" href="https://blog.oborchain.org/">Blog</a></li>
                </ul>
            </div>

            <div class="col-12 col-md-5 offset-md-1 col-lg-3 offset-lg-3">
                <div class="d-flex justify-content-center justify-content-md-between align-items-center mb-3">
                    <a class="btn btn-link btn--social-link pl-0" href="https://github.com/oborchain/" target="_blank"
                       rel="noopener noreferrer">
                        <span class="sr-only">Github</span>
                        <i class="fab fa-github fa-3x"></i>
                    </a>
                    <a class="btn btn-link btn--social-link" href="https://facebook.com/oborchain.org" target="_blank"
                       rel="noopener noreferrer">
                        <span class="sr-only">Facebook</span>
                        <i class="fab fa-facebook fa-3x"></i>
                    </a>
                    <a class="btn btn-link btn--social-link" href="https://twitter.com/oborchain_org" target="_blank"
                       rel="noopener noreferrer">
                        <span class="sr-only">Twitter</span>
                        <i class="fab fa-twitter fa-3x"></i>
                    </a>
                    <a class="btn btn-link btn--social-link pr-0" href="https://t.me/oborchain"
                       target="_blank" rel="noopener noreferrer">
                        <span class="sr-only">Telegram</span>
                        <i class="fab fa-telegram fa-3x"></i>
                    </a>
                </div>
                <div class="footer__newsletter">
                    <a class="btn btn-raised btn-warning"
                       href="https://oborchain.github.io"
                       data-mode="drawer_right" data-hide-headers="true" data-hide-footer="true"
                       data-submit-close-delay="1"
                       target="_blank">SUBSCRIBE TO NEWSLETTER</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="text-white-transparent text-center">
                    <p>&copy; OBORCHAIN. All rights reserved</p>
                </div>
            </div>
        </div>
    </div>
</section>
