<section class="section section--big-footer section--compact section--blue">
    <div class="container text-center text-md-left">
        <div class="row mb-2">
            <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                <h2 class="footer__title">Company</h2>
                <ul class="footer__list">
                    <li><a class="footer__link" href="#about">About</a></li>
                    <li><a class="footer__link" href="#roadmap">Roadmap</a></li>
                    <li><a class="footer__link" href="#team">Team</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                <h2 class="footer__title">Resources</h2>
                <ul class="footer__list">
                    <li><a class="footer__link" target="_blank"
                           href="https://oborchain.github.io/whitepaper.pdf">Whitepaper</a></li>
                    <li><a class="footer__link" href="https://docs.oborchain.org/display/PUB/">Documentation</a></li>
                    <li><a class="footer__link" target="_blank" href="https://blog.oborchain.org/">Blog</a></li>
                </ul>
            </div>

            <div class="col-12 col-md-5 offset-md-1 col-lg-3 offset-lg-3">
                <div class="d-flex justify-content-center justify-content-md-between align-items-center mb-3">
                    <a class="btn btn-link btn--social-link pl-0" href="https://github.com/fundrequest/" target="_blank"
                       rel="noopener noreferrer">
                        <span class="sr-only">Github</span>
                        <i class="fab fa-github fa-3x"></i>
                    </a>
                    <a class="btn btn-link btn--social-link" href="https://fundrequest.chat" target="_blank"
                       rel="noopener noreferrer">
                        <span class="sr-only">Rocket Chat</span>
                        <i class="fab fa-rocketchat fa-3x"></i>
                    </a>
                    <a class="btn btn-link btn--social-link" href="https://twitter.com/fundrequest_io" target="_blank"
                       rel="noopener noreferrer">
                        <span class="sr-only">Twitter</span>
                        <i class="fab fa-twitter fa-3x"></i>
                    </a>
                    <a class="btn btn-link btn--social-link pr-0" href="https://t.me/fundrequestofficial"
                       target="_blank" rel="noopener noreferrer">
                        <span class="sr-only">Telegram</span>
                        <i class="fab fa-telegram fa-3x"></i>
                    </a>
                </div>
                <div class="footer__newsletter">
                    <a class="btn btn-raised btn-warning"
                       href="https://fundrequest.typeform.com/to/pu3EGe"
                       data-mode="drawer_right" data-hide-headers="true" data-hide-footer="true"
                       data-submit-close-delay="1"
                       target="_blank">SUBSCRIBE TO NEWSLETTER</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="text-white-transparent text-center">
                    <p>&copy; FundRequest OÜ all rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section section--partnership-logos">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="js_horizontal">
                    <li>
                        <a target="_blank" href="https://www.clearify.io">
                            <img src="{{ site.imageurl }}/clearify_bottom.png?{{site.time | date: '%s%N'}}" alt="Clearify">
                        </a>
                    </li>
                    <li>
                        <a target="_blank"
                           href="https://www.chipin.com/fundrequest-ico-rewarding-contributions-crypto/">
                            <img src="{{ site.imageurl }}/chipin.png?{{site.time | date: '%s%N'}}" alt="Chipin">
                        </a>
                    </li>
                    <li>
                        <a target="_blank"
                           href="https://www.btc-echo.de/fundrequests-dezentrale-open-source-plattform/">
                            <img src="{{ site.imageurl }}/BTC.png?{{site.time | date: '%s%N'}}" alt="Btc">
                        </a>
                    </li>
                    <li>
                        <a target="_blank"
                           href="http://www.the-blockchain.com/2017/11/01/fundrequest-launches-blockchain-incentive-platform-open-source-projects/">
                            <img src="{{ site.imageurl }}/blockchainnews.png?{{site.time | date: '%s%N'}}" alt="Blockchain">
                        </a>
                    </li>
                    <li>
                        <a target="_blank"
                           href="https://www.cryptoninjas.net/2017/10/31/fundrequest-introduces-blockchain-incentive-platform-open-source-projects">
                            <img src="{{ site.imageurl }}/cryptoninjas.png?{{site.time | date: '%s%N'}}" alt="Cryptoninjas">
                        </a>
                    </li>
                    <li>
                        <a target="_blank"
                           href="http://www.chain-finance.com/2017/11/02/open-source-projects-incentivised-through-blockchain-platform/">
                            <img src="{{ site.imageurl }}/chainfinance.png?{{site.time | date: '%s%N'}}" alt="Chainfinance">
                        </a>
                    </li>
                    <li>
                        <a target="_blank"
                           href="http://www.the-blockchain.com/2017/11/01/fundrequest-launches-blockchain-incentive-platform-open-source-projects/">
                            <img src="{{ site.imageurl }}/blockchainnews.png?{{site.time | date: '%s%N'}}" alt="Blockchain">
                        </a>
                    </li>
                    <li>
                        <a target="_blank"
                           href="https://www.chipin.com/fundrequest-ico-rewarding-contributions-crypto/">
                            <img src="{{ site.imageurl }}/chipin.png?{{site.time | date: '%s%N'}}" alt="Chipin">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
