<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="application-name" content="FundRequest">
    <meta name="keywords" content="{% if page.keywords %}{{ page.keywords | strip_html | strip_newlines }}{% else %}{{ site.keywords }}{% endif %}">
    <meta name="robots" content="index, follow">

    <link type="text/css" rel="stylesheet" href="{{ site.vendorsurl }}/lightslider/css/lightslider.min.css">
    <link type="text/css" rel="stylesheet" href="{{ site.cssurl }}/headroom.css">

    <link type="text/css" rel="stylesheet" href="{{ site.cssurl }}/typekit-jaf-domus/typekit.css"/>
    <link type="text/css" rel="stylesheet" href="{{ site.vendorsurl }}/typeface-titillium-web/index.css"/>
    <link type="text/css" rel="stylesheet" href="{{ site.vendorsurl }}/font-awesome/css/fontawesome-all.min.css">
    <link type="text/css" rel="stylesheet" href="{{ site.vendorsurl }}/bootstrap/css/bootstrap.min.css?{{site.time | date: '%s%N'}}">
    <link type="text/css" rel="stylesheet" href="{{ site.vendorsurl }}/mdbootstrap/css/mdb.min.css?{{site.time | date: '%s%N'}}">
    <link type="text/css" rel="stylesheet" href="{{ site.cssurl }}/core.min.css?{{site.time | date: '%s%N'}}">
    <link type="text/css" rel="stylesheet" href="{{ site.cssurl }}/website.min.css?{{site.time | date: '%s%N'}}">

    <title>{{ page.title }} - FundRequest</title>

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@fundrequest_io"/>
    <meta name="twitter:title" content="Boosting Open Source by rewarding contributions."/>
    <meta name="twitter:description" content="A decentralized marketplace for open source collaboration. FundRequest is a system for custom support that will boost the Open Source community as a whole – from developer to end user."/>
    <meta name="twitter:image" content="{{ site.imageurl }}/og-image.png"/>
    <meta name="twitter:url" content="https://fundrequest.io"/>
    <meta property="og:title" content="Boosting Open Source by rewarding contributions."/>
    <meta property="og:site_name" content="FundRequest.io"/>
    <meta property="og:url" content="https://fundrequest.io"/>
    <meta property="og:description" content="A decentralized marketplace for open source collaboration. FundRequest is a system for custom support that will boost the Open Source community as a whole – from developer to end user."/>
    <meta property="og:image" content="{{ site.imageurl }}/og-image.png"/>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.imageurl }}/logo-single180.png?{{site.time | date: '%s%N'}}">
    <link rel="icon" type="image/png" href="{{ site.imageurl }}/logo-single32.png?{{site.time | date: '%s%N'}}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ site.imageurl }}/logo-single16.png?{{site.time | date: '%s%N'}}" sizes="16x16">
    <meta name="theme-color" content="#ffffff">
</head>