<section class="section section--compact section--bottom-squares section--info">
    <div class="container">
        <h2 class="section__title section__title--info">You can use Fundrequest to:</h2>
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="circle circle--yellow">
                    {% include svg/community.html %}
                </div>
                <h3 class="section__subtitle">
                    Support <br>
                    The community
                </h3>
                <p class="text-center">
                    Anyone can fund requests for their favorite open source projects, accelerating their
                    development.
                </p>
            </div>
            <div class="col-12 col-md-3">
                <div class="circle circle--green">
                    {% include svg/contributors.html %}
                </div>
                <h3 class="section__subtitle">
                    Reward <br>
                    Contributors
                </h3>
                <p class="text-center">
                    Reward developers for their contributions to open-source projects.
                </p>
            </div>
            <div class="col-12 col-md-3">
                <div class="circle circle--blue">
                    {% include svg/popular.html %}

                </div>
                <h3 class="section__subtitle">
                    Find out <br>
                    whats popular
                </h3>
                <p class="text-center">
                    Developers can find out what issues are most important to the community.
                </p>
            </div>
            <div class="col-12 col-md-3">
                <div class="circle circle--orange">
                    {% include svg/software.html %}
                </div>
                <h3 class="section__subtitle">
                    Build software <br>
                    for your needs
                </h3>
                <p class="text-center">
                    By proposing or funding new features, you actively participate in the development of the
                    software.
                </p>
            </div>
        </div>
    </div>
</section>