<section class="section section--compact section--bottom-squares section--info">
    <div class="container">
        <h2 class="section__title section__title--info">What we do:</h2>
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="circle circle--yellow">
                    {% include svg/community.html %}
                </div>
                <h3 class="section__subtitle">
                    Blockchain <br>
                    Solutions
                </h3>
                <p class="text-center">
                    Blockchain Development, Smart Contract Programming using Solidity, Integrating JavaScript with Blockchain.
                </p>
            </div>
            <div class="col-12 col-md-3">
                <div class="circle circle--green">
                    {% include svg/contributors.html %}
                </div>
                <h3 class="section__subtitle">
                    Green Energy <br>
                    with Blockchain
                </h3>
                <p class="text-center">
                    Applying Blockchain for electricity grids, Natural gas and Water distribution using smart contracts.
                </p>
            </div>
            <div class="col-12 col-md-3">
                <div class="circle circle--blue">
                    {% include svg/popular.html %}

                </div>
                <h3 class="section__subtitle">
                    Smart Drones<br>
                    With AI & Blockchain
                </h3>
                <p class="text-center">
                    Using Artificial Intelligence and Blockchain Technology for Better Drone Utilization. From Suppy Chain to Anything.
                </p>
            </div>
            <div class="col-12 col-md-3">
                <div class="circle circle--orange">
                    {% include svg/software.html %}
                </div>
                <h3 class="section__subtitle">
                    Build smart <br>
                    homes and cities
                </h3>
                <p class="text-center">
                    Using AI and Blockchain Technology we can build a better smart homes and smart cities for the future.
                </p>
            </div>
        </div>
    </div>
</section>
