<section id="partners" class="section section--compact">
    <div class="container">
        <div class="row p-0">
            <div class="col-12">
                <h2 class="section__title text-center">Investors & Partners</h2>
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-6 col-md-4 partner-image">
                        <a class="partner-link" href="https://lendroid.com/" target="_blank" rel="noopener noreferrer">
                            <img src="{{ site.imageurl }}/partner-lendroid.png?{{site.time | date: '%s%N'}}" alt="Lendroid">
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 partner-image">
                        <a class="partner-link" href="https://request.network/" target="_blank" rel="noopener noreferrer">
                            <img src="{{ site.imageurl }}/partner-request.png?{{site.time | date: '%s%N'}}" alt="Request Network">
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 partner-image">
                        <a class="partner-link" href="https://singularitynet.io/" target="_blank" rel="noopener noreferrer">
                            <img src="{{ site.imageurl }}/partner-singularityNET.png?{{site.time | date: '%s%N'}}" alt="SingulartiyNet">
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 partner-image">
                        <a class="partner-link" href="https://dock.io/" target="_blank" rel="noopener noreferrer">
                            <img src="{{ site.imageurl }}/partner-dock.png?{{site.time | date: '%s%N'}}" alt="Dock.io">
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 partner-image">
                        <a class="partner-link" href="https://remote.com/" target="_blank" rel="noopener noreferrer">
                            <img src="{{ site.imageurl }}/partner-remote.png?{{site.time | date: '%s%N'}}" alt="Remote.com">
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 partner-image">
                        <a class="partner-link" href="https://indorse.io" target="_blank" rel="noopener noreferrer">
                            <img src="{{ site.imageurl }}/partner-indorse.png?{{site.time | date: '%s%N'}}" alt="indorse.io">
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 partner-image">
                        <a class="partner-link" href="https://trustwalletapp.com/" target="_blank" rel="noopener noreferrer">
                            <img src="{{ site.imageurl }}/partner-trust.png?{{site.time | date: '%s%N'}}" alt="trustwalletapp.com">
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 partner-image">
                        <a class="partner-link" href="https://orcaalliance.eu/" target="_blank" rel="noopener noreferrer">
                            <img src="{{ site.imageurl }}/partner-orca.png?{{site.time | date: '%s%N'}}" alt="orcaalliance.eu">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
