<section id="roadmap" class="section section--compact section--roadmap">
    <div class="container">
        <h2 class="section__title">Roadmap 2018</h2>
        <div class="row">
            <div class="col-12 col-md-9">
                <div class="row">
                    <div class="col-12">
                        <div class="vertical-line"></div>
                        <div class="row text-center text-md-left">
                            <div class="col-12 col-md-3 d-flex justify-content-center justify-content-md-start align-items-center">
                                <div class="nav flex-row flex-md-column nav-pills nav-pills--roadmap" id="v-pills-tab" role="tablist"
                                     aria-orientation="vertical">
                                    <a class="nav-link active d-flex align-items-center pt-md-0" id="v-pills-q1-tab"
                                       data-toggle="pill" href="#v-pills-q1"
                                       role="tab" aria-controls="v-pills-q1" aria-selected="true">
                                        <span class="nav-link__number"><span>Q1</span></span>
                                    </a>
                                    <a class="nav-link d-flex align-items-center" id="v-pills-q2-tab" data-toggle="pill"
                                       href="#v-pills-q2" role="tab" aria-controls="v-pills-q2" aria-selected="false">
                                        <span class="nav-link__number"><span>Q2</span></span>
                                    </a>
                                    <a class="nav-link d-flex align-items-center" id="v-pills-q3-tab" data-toggle="pill"
                                       href="#v-pills-q3" role="tab" aria-controls="v-pills-q3" aria-selected="false">
                                        <span class="nav-link__number"><span>Q3</span></span>
                                    </a>
                                    <a class="nav-link d-flex align-items-center pb-md-0" id="v-pills-q4-tab" data-toggle="pill"
                                       href="#v-pills-q4" role="tab" aria-controls="v-pills-q4" aria-selected="false">
                                        <span class="nav-link__number"><span>Q4</span></span>
                                    </a>
                                </div>
                            </div>

                            <div class="col-12 col-md-8">
                                <div class="tab-content tab-content--smooth-fade" id="v-pills-tabContent-q">
                                    <div class="tab-pane active" id="v-pills-q1" role="tabpanel"
                                         aria-labelledby="v-pills-q1-tab">
                                        <div class="d-flex justify-content-center flex-column">
                                            <h3 class="text-center text-md-left">Q1</h3>
                                            <p>
                                                The OBORCHAIN platform launches on the Ethereum Mainnet. Users can
                                                fund or crowdfund open source issues on GitHub using the OBOR token.
                                                Developers can claim the OBOR token after they’ve successfully
                                                resolved
                                                the GitHub issue.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="v-pills-q2" role="tabpanel"
                                         aria-labelledby="v-pills-q2-tab">
                                        <div class="d-flex justify-content-center flex-column">
                                            <h3 class="text-center text-md-left">Q2</h3>
                                            <p>
                                                The FundRequest platform allows any ERC 20 token to fund Open Source
                                                Issues on GitHub. Claiming funding is extended with a staking
                                                mechanism.
                                                Meanwhile the first Open Source Projects are chosen to receive
                                                support
                                                from the FundRequest Ecosystem Incentivisation pool.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="v-pills-q3" role="tabpanel"
                                         aria-labelledby="v-pills-q3-tab">
                                        <div class="d-flex justify-content-center flex-column">
                                            <h3 class="text-center text-md-left">Q3</h3>
                                            <p>
                                                A dispute flow is added to the FundRequest platform which enables
                                                community collaboration to settle raised disputes. OBORCHAIN
                                                enables
                                                the SkillToken to measure a developer's success rate and reputation.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="v-pills-q4" role="tabpanel"
                                         aria-labelledby="v-pills-q4-tab">
                                        <div class="d-flex justify-content-center flex-column">
                                            <h3 class="text-center text-md-left">Q4</h3>
                                            <p>
                                                Next to crypto assets the OBORCHAIN platform allows funding in
                                                fiat
                                                currencies (USD, EUR,..) and adds premium features to the
                                                FundRequest
                                                platform, such as invoicing and adding a Service Level Agreement
                                                (SLA)
                                                to a request.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-2 offset-md-1 roadmap-image">
                <img src="{{ site.imageurl }}/roadmap.svg">
            </div>
        </div>
    </div>
</section>
