<script src="{{ site.vendorsurl }}/jquery/jquery.min.js?{{site.time | date: '%s%N'}}"></script>
<script src="{{ site.vendorsurl }}/headroom.js/js/headroom.min.js?{{site.time | date: '%s%N'}}"></script>
<script src="{{ site.vendorsurl }}/lightslider/js/lightslider.min.js?{{site.time | date: '%s%N'}}"></script>
<script src="{{ site.vendorsurl }}/bootstrap/js/bootstrap.bundle.min.js?{{site.time | date: '%s%N'}}"></script>
<script src="{{ site.jsurl }}/typeform-newsletter.js?{{site.time | date: '%s%N'}}"></script>
<script src="{{ site.jsurl }}/script.js?{{site.time | date: '%s%N'}}"></script>