<section id="steps" class="section section--steps section--compact section--light section--squares section--squares--bottom">
    <div class="container">
        <h2 class="section__title">OBORCHAIN in 3 easy steps:</h2>
        <div class="row">
            <div class="col-10 offset-1 text-center">
                <p class="font-weight-bold">
                    One Belt One Road foundation plans to bring to reality multitude of projects for the OBOR member countries. One of the milestones we've included in our roadmap is the development of
                    a dividend system to repay investors through our reward program.
                </p>
            </div>
            <div class="col-12">
                <div class="vertical-line"></div>
                <div class="row text-center text-md-left py-md-5">
                    <div class="col-12 col-md-2 d-flex justify-content-center justify-content-md-start align-items-center">
                        <div class="nav flex-row flex-md-column nav-pills nav-pills--roadmap" id="v-pills-tab" role="tablist"
                             aria-orientation="vertical">
                            <a class="nav-link active d-flex align-items-center" id="v-pills-create-tab"
                               data-toggle="pill" href="#v-pills-create"
                               role="tab" aria-controls="v-pills-create" aria-selected="true">
                                <span class="nav-link__number">1</span>
                                <span class="nav-link__text">Investment</span>
                            </a>
                            <a class="nav-link d-flex align-items-center" id="v-pills-fund-tab" data-toggle="pill"
                               href="#v-pills-fund" role="tab" aria-controls="v-pills-fund" aria-selected="false">
                                <span class="nav-link__number"><span>2</span></span>
                                <span class="nav-link__text">Execution</span>
                            </a>
                            <a class="nav-link d-flex align-items-center" id="v-pills-approve-tab" data-toggle="pill"
                               href="#v-pills-approve" role="tab" aria-controls="v-pills-approve" aria-selected="false">
                                <span class="nav-link__number"><span>3</span></span>
                                <span class="nav-link__text">Dividend</span>
                            </a>
                        </div>
                    </div>

                    <div class="col-12 col-md-10">
                        <div class="tab-content tab-content--smooth-fade" id="v-pills-tabContent">
                            <div class="tab-pane active" id="v-pills-create" role="tabpanel"
                                 aria-labelledby="v-pills-create-tab">
                                <div class="row">
                                    <div class="col-12 col-md-4 d-flex justify-content-center flex-column">
                                        <div class="text-center d-block d-md-none">
                                            <h3>Why Invest</h3>
                                        </div>
                                        <div class="svg--nav-pills">
                                            {% include svg/fund-issue.html %}
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-8 d-flex justify-content-center flex-column">
                                        <h3 class="d-none d-md-block">Why Invest</h3>
                                        <p>
                                            Why invest in yet another ICO, when so many have failed. Our team members and Advisor members are old timers and have achieved well in their respective fields,
                                            and as such we guarantee to provide the best outcome with the tools we are given.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="v-pills-fund" role="tabpanel"
                                 aria-labelledby="v-pills-fund-tab">
                                <div class="row">
                                    <div class="col-12 col-md-4 d-flex justify-content-center flex-column">
                                        <div class="text-center d-block d-md-none">
                                            <h3>Execution Plan</h3>
                                        </div>
                                        <div class="svg--nav-pills">
                                            {% include svg/create-issue.html %}
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-8 d-flex justify-content-center flex-column">
                                        <h3 class="d-none d-md-block">Execution Plan</h3>
                                        <p>
                                            We aim to solve real world problems, and as such we have assembled an efficient team of individuals with different portfolios to better
                                            overcome the obstacles.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="v-pills-approve" role="tabpanel"
                                 aria-labelledby="v-pills-approve-tab">
                                <div class="row">
                                    <div class="col-12 col-md-4 d-flex justify-content-center flex-column">
                                        <div class="text-center d-block d-md-none">
                                            <h3>Dividend System</h3>
                                        </div>
                                        <div class="svg--nav-pills">
                                            {% include svg/approve-solution.html %}
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-8 d-flex justify-content-center flex-column">
                                        <h3 class="d-none d-md-block">Dividend System</h3>
                                        <p>
                                            In order to guarantee our benefactors and investors of our succes, we have come up with our own unique solution of a dividend reward system to prove that we are indeed capable to succeed.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="triangle triangle--top"></div>
    <div class="triangle triangle--bottom"></div>
    <a class="scrolltonext scrolltonext--top" data-scroll-to="current" href="#"></a>
    <a class="scrolltonext" data-scroll-to="next" href="#"></a>
</section>
