<section id="supporters" class="section section--compact section--supporters section--light section--squares section--squares--top">
    <div class="triangle triangle--top"></div>
    <div class="container">
        <div class="row p-0">
            <div class="col-12 mb-5">
                <h2 class="section__title text-center">Exchanges</h2>
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-6 col-md-4 partner-image">
                        <a class="partner-link" href="https://www.binance.com/" target="_blank" rel="noopener noreferrer">
                            <img src="{{ site.imageurl }}/supporter-astronaut-capital-inverse.png?{{site.time | date: '%s%N'}}" alt="Astronaut Capital">
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 partner-image">
                        <a class="partner-link" href="http://hayek.capital/index_en.html" target="_blank" rel="noopener noreferrer">
                            <img src="{{ site.imageurl }}/supporter-hayek-capital.png?{{site.time | date: '%s%N'}}" alt="Hayek Capital">
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 partner-image">
                        <a class="partner-link" href="https://alphachain.com/" target="_blank" rel="noopener noreferrer">
                            <img src="{{ site.imageurl }}/supporter-alpha-chain.png?{{site.time | date: '%s%N'}}" alt="Alpha Chain">
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 partner-image">
                        <a class="partner-link" href="https://1kx.network/" target="_blank" rel="noopener noreferrer">
                            <img src="{{ site.imageurl }}/supporter-1kx.png?{{site.time | date: '%s%N'}}" alt="1kx">
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 partner-image">
                        <a class="partner-link" href="http://connect.capital/" target="_blank" rel="noopener noreferrer">
                            <img src="{{ site.imageurl }}/supporter-connect-capital.png?{{site.time | date: '%s%N'}}" alt="Connect Capital">
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 partner-image">
                        <a class="partner-link" href="http://tetras.capital/" target="_blank" rel="noopener noreferrer">
                            <img src="{{ site.imageurl }}/supporter-tetras-capital.png?{{site.time | date: '%s%N'}}" alt="Tetras Capital">
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 partner-image">
                        <a class="partner-link" href="https://www.zestads.com/" target="_blank" rel="noopener noreferrer">
                            <img src="{{ site.imageurl }}/supporter-zest-ads.png?{{site.time | date: '%s%N'}}" alt="ZestAds">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="scrolltonext scrolltonext--top" href="#" data-scroll-to="current"></a>
</section>
