<section id="team" class="section section--team section--compact section--light section--squares">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="nav nav-pills justify-content-center mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-team-tab" data-toggle="pill"
                           href="#pills-team" role="tab" aria-controls="pills-team" aria-selected="true">
                            <h2 class="section__title">Team</h2>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-advisors-tab" data-toggle="pill"
                           href="#pills-advisors" role="tab" aria-controls="pills-advisors" aria-selected="false">
                            <h2 class="section__title">Advisors</h2>
                        </a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent-team-and-advisors">
                    <div class="tab-pane show active" id="pills-team" role="tabpanel"
                         aria-labelledby="pills-team-tab">
                        <div class="row">
                            <div class="col-12 col-md-10 offset-md-1">
                                <div class="row">
                                    <div class="col-12 d-md-none">
                                        <h2 class="section__title text-center">Team</h2>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4 pt-5 mb-5">
                                        <div class="card card--person-image">
                                            <img class="card-top-image" src="{{ site.imageurl }}/team-karel-striegel.jpg"
                                                 alt="Karel striegel">
                                            <div class="card-body justify-content-between">
                                                <div class="card-text text-center">
                                                    <h4>Karel striegel</h4>
                                                    <p class="tag">
                                                        Founder, CEO
                                                    </p>
                                                </div>
                                                <div class="card-text text-center">
                                                    <a target="_blank" href="https://twitter.com/TheCharliez">
                                                        <i class="fab fa-2x fa-twitter"></i>
                                                    </a>
                                                    <a target="_blank"
                                                       rel="noreferrer noopener"
                                                       href="https://www.linkedin.com/in/karelstriegel/">
                                                        <i class="fab fa-2x fa-linkedin"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4 pt-5 mb-5">
                                        <div class="card card--person-image">
                                            <img class="card-top-image" src="{{ site.imageurl }}/team-davy-van-roy.jpg"
                                                 alt="Davy Van Roy">
                                            <div class="card-body justify-content-between">
                                                <div class="card-text text-center">
                                                    <h4>Davy Van Roy</h4>
                                                    <p class="tag">
                                                        Co-founder, CTO
                                                    </p>
                                                </div>
                                                <div class="card-text text-center">
                                                    <a target="_blank" href="https://twitter.com/DavyVanRoy">
                                                        <i class="fab fa-2x fa-twitter"></i>
                                                    </a>
                                                    <a target="_blank"
                                                       href="https://www.linkedin.com/in/davyvanroy/">
                                                        <i class="fab fa-2x fa-linkedin"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4 pt-5 mb-5">
                                        <div class="card card--person-image">
                                            <img class="card-top-image" src="{{ site.imageurl }}/team-gerbert-vandenberghe.jpg"
                                                 alt="Gerbert Vandenberghe">

                                            <div class="card-body justify-content-between">
                                                <div class="card-text text-center">
                                                    <h4>Gerbert Vandenberghe</h4>
                                                    <p class="tag">
                                                        Co-founder, COO
                                                    </p>
                                                </div>
                                                <div class="card-text text-center">
                                                    <a target="_blank" href="https://twitter.com/gillepils">
                                                        <i class="fab fa-2x fa-twitter"></i>
                                                    </a>
                                                    <a target="_blank"
                                                       href="https://www.linkedin.com/in/gerbertvandenberghe/">
                                                        <i class="fab fa-2x fa-linkedin"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4 pt-5 mb-5">
                                        <div class="card card--person-image">
                                            <img class="card-top-image" src="{{ site.imageurl }}/team-tim-dierckxsens.jpg"
                                                 alt="Tim Dierckxsens">

                                            <div class="card-body justify-content-between">
                                                <div class="card-text text-center">
                                                    <h4>Tim Dierckxsens</h4>
                                                    <p class="tag">
                                                        Co-founder, CSO
                                                    </p>
                                                </div>
                                                <div class="card-text text-center">
                                                    <a target="_blank" href="https://twitter.com/TimDierckxsens">
                                                        <i class="fab fa-2x fa-twitter"></i>
                                                    </a>
                                                    <a target="_blank"
                                                       href="https://www.linkedin.com/in/timdierckxsens/">
                                                        <i class="fab fa-2x fa-linkedin"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4 pt-5 mb-5">
                                        <div class="card card--person-image">
                                            <img class="card-top-image" src="{{ site.imageurl }}/team-steve-maris.jpg"
                                                 alt="Steve Maris">

                                            <div class="card-body justify-content-between">
                                                <div class="card-text text-center">
                                                    <h4>Steve Maris</h4>
                                                    <p class="tag">
                                                        Core Developer
                                                    </p>
                                                </div>
                                                <div class="card-text text-center">
                                                    <a target="_blank"
                                                       href="https://www.linkedin.com/in/steve-maris-7b26b652/">
                                                        <i class="fab fa-2x fa-linkedin"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4 pt-5 mb-5">
                                        <div class="card card--person-image">
                                            <img class="card-top-image" src="{{ site.imageurl }}/team-quinten-de-swaef.jpg"
                                                 alt="Quinten De Swaef">

                                            <div class="card-body justify-content-between">
                                                <div class="card-text text-center">
                                                    <h4>Quinten De Swaef</h4>
                                                    <p class="tag">
                                                        Core Developer
                                                    </p>
                                                </div>
                                                <div class="card-text text-center">
                                                    <a target="_blank" href="https://twitter.com/QuintenDes">
                                                        <i class="fab fa-2x fa-twitter"></i>
                                                    </a>
                                                    <a target="_blank"
                                                       href="https://www.linkedin.com/in/quinten-de-swaef-562a8826/">
                                                        <i class="fab fa-2x fa-linkedin"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="pills-advisors" role="tabpanel" aria-labelledby="pills-advisors-tab">
                        <div class="row">
                            <div class="col-12 col-md-10 offset-md-1">
                                <div class="row">
                                    <div class="col-12 d-block d-md-none">
                                        <h2 class="section__title text-center">Advisors</h2>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4 pt-5 mb-5">
                                        <div class="card card--person-image">
                                            <img class="card-top-image" src="{{ site.imageurl }}/advisor-lasse-clausen.jpg"
                                                 alt="Lasse Clausen">

                                            <div class="card-body justify-content-between">
                                                <div class="card-text text-center">
                                                    <h4>Lasse Clausen</h4>
                                                    <p class="tag">
                                                        Token launch and token economics
                                                    </p>
                                                </div>
                                                <div class="card-text text-center">
                                                    <a target="_blank" href="https://twitter.com/lalleclausen">
                                                        <i class="fab fa-2x fa-twitter"></i>
                                                    </a>
                                                    <a target="_blank" href="https://www.linkedin.com/in/lasseclausen/">
                                                        <i class="fab fa-2x fa-linkedin"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4 pt-5 mb-5">
                                        <div class="card card--person-image">
                                            <img class="card-top-image" src="{{ site.imageurl }}/advisor-christopher-heymann.jpg"
                                                 alt="Christopher Heymann">

                                            <div class="card-body justify-content-between">
                                                <div class="card-text text-center">
                                                    <h4>Christopher Heymann</h4>
                                                    <p class="tag">
                                                        Technology and token economics
                                                    </p>
                                                </div>
                                                <div class="card-text text-center">
                                                    <a target="_blank"
                                                       href="https://www.linkedin.com/in/christopher-heymann-baa51828/">
                                                        <i class="fab fa-2x fa-linkedin"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4 pt-5 mb-5">
                                        <div class="card card--person-image">
                                            <img class="card-top-image" src="{{ site.imageurl }}/advisor-nico-haelterman.jpg"
                                                 alt="Nico Haelterman">

                                            <div class="card-body justify-content-between">
                                                <div class="card-text text-center">
                                                    <h4>Nico Haelterman</h4>
                                                    <p class="tag">
                                                        Technical Analyst
                                                    </p>
                                                </div>
                                                <div class="card-text text-center">
                                                    <a target="_blank"
                                                       href="https://www.linkedin.com/in/nico-haelterman-2b60121/">
                                                        <i class="fab fa-2x fa-linkedin"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4 pt-5 mb-5">
                                        <div class="card card--person-image">
                                            <img class="card-top-image" src="{{ site.imageurl }}/advisor-thomas-matthys.jpg"
                                                 alt="Thomas Matthys">

                                            <div class="card-body justify-content-between">
                                                <div class="card-text text-center">
                                                    <h4>Thomas Matthys</h4>
                                                    <p class="tag">
                                                        Financial Advisor
                                                    </p>
                                                </div>
                                                <div class="card-text text-center">
                                                    <a target="_blank" href="https://twitter.com/t_matthys">
                                                        <i class="fab fa-2x fa-twitter"></i>
                                                    </a>
                                                    <a target="_blank"
                                                       href="https://www.linkedin.com/in/thomasmatthys/">
                                                        <i class="fab fa-2x fa-linkedin"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4 pt-5 mb-5">
                                        <div class="card card--person-image">
                                            <img class="card-top-image" src="{{ site.imageurl }}/advisor-addison-huegel.jpg"
                                                 alt="Addison Huegel">

                                            <div class="card-body justify-content-between">
                                                <div class="card-text text-center">
                                                    <h4>Addison Huegel</h4>
                                                    <p class="tag">
                                                        Public Relations
                                                    </p>
                                                </div>
                                                <div class="card-text text-center">
                                                    <a target="_blank"
                                                       href="https://www.linkedin.com/in/addisonhuegel/">
                                                        <i class="fab fa-2x fa-linkedin"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4 pt-5 mb-5">
                                        <div class="card card--person-image">
                                            <img class="card-top-image" src="{{ site.imageurl }}/advisor-kenzi-wang.png?{{site.time | date: '%s%N'}}"
                                                 alt="Kenzi Wang">
                                            <div class="card-body justify-content-between">
                                                <div class="card-text text-center">
                                                    <h4>Kenzi Wang</h4>
                                                    <p class="tag">
                                                        Marketing
                                                    </p>
                                                </div>
                                                <div class="card-text text-center">
                                                    <a target="_blank"
                                                       href="https://www.linkedin.com/in/kwang2/">
                                                        <i class="fab fa-2x fa-linkedin"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="triangle triangle--top"></div>
    <div class="triangle triangle--bottom"></div>
    <a class="scrolltonext scrolltonext--top" href="#" data-scroll-to="current"></a>
    <a class="scrolltonext" href="#" data-scroll-to="next"></a>
</section>