<section id="team" class="section section--team section--compact section--light section--squares">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="nav nav-pills justify-content-center mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-team-tab" data-toggle="pill"
                           href="#pills-team" role="tab" aria-controls="pills-team" aria-selected="true">
                            <h2 class="section__title">Team</h2>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-advisors-tab" data-toggle="pill"
                           href="#pills-advisors" role="tab" aria-controls="pills-advisors" aria-selected="false">
                            <h2 class="section__title">Advisors</h2>
                        </a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent-team-and-advisors">
                    <div class="tab-pane show active" id="pills-team" role="tabpanel"
                         aria-labelledby="pills-team-tab">
                        <div class="row">
                            <div class="col-12 col-md-10 offset-md-1">
                                <div class="row">
                                    <div class="col-12 d-md-none">
                                        <h2 class="section__title text-center">Team</h2>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4 pt-5 mb-5">
                                        <div class="card card--person-image">
                                            <img class="card-top-image" src="{{ site.imageurl }}/team-1.png"
                                                 alt="Alex">
                                            <div class="card-body justify-content-between">
                                                <div class="card-text text-center">
                                                    <h4>Alex</h4>
                                                    <p class="tag">
                                                        Founder & CEO
                                                    </p>
                                                </div>
                                                <div class="card-text text-center">
                                                    <a target="_blank" href="https://twitter.com/">
                                                        <i class="fab fa-2x fa-twitter"></i>
                                                    </a>
                                                    <a target="_blank"
                                                       rel="noreferrer noopener"
                                                       href="https://www.linkedin.com/in/">
                                                        <i class="fab fa-2x fa-linkedin"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4 pt-5 mb-5">
                                        <div class="card card--person-image">
                                            <img class="card-top-image" src="{{ site.imageurl }}/team-2.png"
                                                 alt="Ahmad John">
                                            <div class="card-body justify-content-between">
                                                <div class="card-text text-center">
                                                    <h4>Ahmad John</h4>
                                                    <p class="tag">
                                                        Co-founder & CTO
                                                    </p>
                                                </div>
                                                <div class="card-text text-center">
                                                    <a target="_blank" href="https://twitter.com/aruzikulov">
                                                        <i class="fab fa-2x fa-twitter"></i>
                                                    </a>
                                                    <a target="_blank"
                                                       href="https://www.linkedin.com/in/aruzikulov/">
                                                        <i class="fab fa-2x fa-linkedin"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4 pt-5 mb-5">
                                        <div class="card card--person-image">
                                            <img class="card-top-image" src="{{ site.imageurl }}/team-3.png"
                                                 alt="Tont Jaw">

                                            <div class="card-body justify-content-between">
                                                <div class="card-text text-center">
                                                    <h4>Tony Jaw</h4>
                                                    <p class="tag">
                                                        Co-founder & CBDO
                                                    </p>
                                                </div>
                                                <div class="card-text text-center">
                                                    <a target="_blank" href="https://twitter.com/">
                                                        <i class="fab fa-2x fa-twitter"></i>
                                                    </a>
                                                    <a target="_blank"
                                                       href="https://www.linkedin.com/in/">
                                                        <i class="fab fa-2x fa-linkedin"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4 pt-5 mb-5">
                                        <div class="card card--person-image">
                                            <img class="card-top-image" src="{{ site.imageurl }}/team-4.png"
                                                 alt="Russel">

                                            <div class="card-body justify-content-between">
                                                <div class="card-text text-center">
                                                    <h4>Russel</h4>
                                                    <p class="tag">
                                                        Co-founder, CLO
                                                    </p>
                                                </div>
                                                <div class="card-text text-center">
                                                    <a target="_blank" href="https://twitter.com/">
                                                        <i class="fab fa-2x fa-twitter"></i>
                                                    </a>
                                                    <a target="_blank"
                                                       href="https://www.linkedin.com/in/">
                                                        <i class="fab fa-2x fa-linkedin"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4 pt-5 mb-5">
                                        <div class="card card--person-image">
                                            <img class="card-top-image" src="{{ site.imageurl }}/team-5.png"
                                                 alt="Joe">

                                            <div class="card-body justify-content-between">
                                                <div class="card-text text-center">
                                                    <h4>Joe</h4>
                                                    <p class="tag">
                                                        Co-Founder & COO
                                                    </p>
                                                </div>
                                                <div class="card-text text-center">
                                                    <a target="_blank" href="https://twitter.com/">
                                                        <i class="fab fa-2x fa-twitter"></i>
                                                    </a>
                                                    <a target="_blank"
                                                       href="https://www.linkedin.com/in/">
                                                        <i class="fab fa-2x fa-linkedin"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4 pt-5 mb-5">
                                        <div class="card card--person-image">
                                            <img class="card-top-image" src="{{ site.imageurl }}/team-6.png"
                                                 alt="Mobin">

                                                 <div class="card-body justify-content-between">
                                                     <div class="card-text text-center">
                                                         <h4>Mobin Arablou</h4>
                                                         <p class="tag">
                                                             Lead Programmer
                                                         </p>
                                                     </div>
                                                     <div class="card-text text-center">
                                                         <a target="_blank" href="https://twitter.com/MobinArablou">
                                                             <i class="fab fa-2x fa-twitter"></i>
                                                         </a>
                                                         <a target="_blank"
                                                            href="https://www.linkedin.com/in/MobinArablou/">
                                                             <i class="fab fa-2x fa-linkedin"></i>
                                                         </a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="pills-advisors" role="tabpanel" aria-labelledby="pills-advisors-tab">
                        <div class="row">
                            <div class="col-12 col-md-10 offset-md-1">
                                <div class="row">
                                    <div class="col-12 d-block d-md-none">
                                        <h2 class="section__title text-center">Advisors</h2>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4 pt-5 mb-5">
                                        <div class="card card--person-image">
                                            <img class="card-top-image" src="{{ site.imageurl }}/advisor-1.png"
                                                 alt="Kelvin">

                                            <div class="card-body justify-content-between">
                                                <div class="card-text text-center">
                                                    <h4>Kelvin</h4>
                                                    <p class="tag">
                                                        AnyHelper Professional
                                                    </p>
                                                </div>
                                                <div class="card-text text-center">
                                                    <a target="_blank" href="https://twitter.com/">
                                                        <i class="fab fa-2x fa-twitter"></i>
                                                    </a>
                                                    <a target="_blank" href="https://www.linkedin.com/in/">
                                                        <i class="fab fa-2x fa-linkedin"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4 pt-5 mb-5">
                                        <div class="card card--person-image">
                                            <img class="card-top-image" src="{{ site.imageurl }}/advisor-2.png"
                                                 alt="Mark">

                                            <div class="card-body justify-content-between">
                                                <div class="card-text text-center">
                                                    <h4>Mark</h4>
                                                    <p class="tag">
                                                        AI Developer. Founder of EVO Creations
                                                    </p>
                                                </div>
                                                <div class="card-text text-center">
                                                    <a target="_blank" href="https://twitter.com/">
                                                        <i class="fab fa-2x fa-twitter"></i>
                                                    </a>
                                                    <a target="_blank" href="https://www.linkedin.com/in/">
                                                        <i class="fab fa-2x fa-linkedin"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4 pt-5 mb-5">
                                        <div class="card card--person-image">
                                            <img class="card-top-image" src="{{ site.imageurl }}/advisor-3.png"
                                                 alt="JOhn Smith">

                                            <div class="card-body justify-content-between">
                                                <div class="card-text text-center">
                                                    <h4>John Smith</h4>
                                                    <p class="tag">
                                                        Technical Analyst
                                                    </p>
                                                </div>
                                                <div class="card-text text-center">
                                                    <a target="_blank" href="https://twitter.com/">
                                                        <i class="fab fa-2x fa-twitter"></i>
                                                    </a>
                                                    <a target="_blank" href="https://www.linkedin.com/in/">
                                                        <i class="fab fa-2x fa-linkedin"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4 pt-5 mb-5">
                                        <div class="card card--person-image">
                                            <img class="card-top-image" src="{{ site.imageurl }}/advisor-4.png"
                                                 alt="John Smith">

                                            <div class="card-body justify-content-between">
                                                <div class="card-text text-center">
                                                    <h4>John Smith</h4>
                                                    <p class="tag">
                                                        Financial Advisor
                                                    </p>
                                                </div>
                                                <div class="card-text text-center">
                                                    <a target="_blank" href="https://twitter.com/">
                                                        <i class="fab fa-2x fa-twitter"></i>
                                                    </a>
                                                    <a target="_blank"
                                                       href="https://www.linkedin.com/in/">
                                                        <i class="fab fa-2x fa-linkedin"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4 pt-5 mb-5">
                                        <div class="card card--person-image">
                                            <img class="card-top-image" src="{{ site.imageurl }}/advisor-5.png"
                                                 alt="John Smith">

                                            <div class="card-body justify-content-between">
                                                <div class="card-text text-center">
                                                    <h4>John Smith</h4>
                                                    <p class="tag">
                                                        Public Relations
                                                    </p>
                                                </div>
                                                <div class="card-text text-center">
                                                    <a target="_blank" href="https://twitter.com/">
                                                        <i class="fab fa-2x fa-twitter"></i>
                                                    </a>
                                                    <a target="_blank" href="https://www.linkedin.com/in/">
                                                        <i class="fab fa-2x fa-linkedin"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4 pt-5 mb-5">
                                        <div class="card card--person-image">
                                            <img class="card-top-image" src="{{ site.imageurl }}/advisor-6.png?{{site.time | date: '%s%N'}}"
                                                 alt="Kenzi Wang">
                                            <div class="card-body justify-content-between">
                                                <div class="card-text text-center">
                                                    <h4>John Smith</h4>
                                                    <p class="tag">
                                                        Marketing
                                                    </p>
                                                </div>
                                                <div class="card-text text-center">
                                                    <a target="_blank" href="https://twitter.com/">
                                                        <i class="fab fa-2x fa-twitter"></i>
                                                    </a>
                                                    <a target="_blank" href="https://www.linkedin.com/in/">
                                                        <i class="fab fa-2x fa-linkedin"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="triangle triangle--top"></div>
    <div class="triangle triangle--bottom"></div>
    <a class="scrolltonext scrolltonext--top" href="#" data-scroll-to="current"></a>
    <a class="scrolltonext" href="#" data-scroll-to="next"></a>
</section>
